.footer{
    .footer_info{
        p{
            text-transform: uppercase;
        }
        ul{
            a{
                color: #848895;
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
}